@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.plus-jakarta-sans-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  --galactic-blue: hsl(252, 66%, 62%);
  --summer-yellow: hsl(28, 89%, 67%);
  --pink: hsl(0, 78%, 79%);
  --light-red: hsl(7, 77%, 66%);
  --cyan: hsl(172, 46%, 57%);
  --purple: hsl(314, 45%, 23%);
  --black: hsl(0, 0%, 1%);
  --meduim-brown: hsl(30, 5%, 45%);
  --light-cream: hsl(28, 100%, 97%);

  --white: #ffffff;

  --heading-font-size-lg: 3.5rem;
  --heading-line-height-lg: 1.25;

  --heading-font-size-med: 2.5rem;
  --heading-line-height-med: 1.275;

  --heading-font-size-sm: 2rem;
  --heading-line-height-sm: 1.25;

  --body-font-size: 1.125rem;
  --body-line-height-med: 1.55;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-cream);
  overflow-x: hidden;
}

footer {
  padding-block-end: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  /* Mobile */
  /* padding-block-end: 2rem; */
  /* Tablet */
  /* padding-block-end: 3.5rem; */
}

.arrows {
  display: flex;
  /* mobile */
  gap: 1rem;
  & button {
    background-color: var(--black);
    border-radius: 50%;
    /* Mobile */
    padding-block: 1.5rem;
    padding-inline: 1.5625rem;

    &:hover {
      cursor: pointer;
      background-color: var(--galactic-blue);
    }
  }
}

.contact-section {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: clamp(1.5rem, 1.3807rem + 0.5089vw, 1.625rem);
  padding-block: 3.0625rem 3rem;
  padding-inline: clamp(1.5rem, -1.5415rem + 12.9771vw, 4.6875rem);
  border-radius: 0.5rem;
  margin-inline: clamp(1rem, -0.3717rem + 5.8524vw, 2.4375rem);
  margin-block-end: clamp(1.375rem, 0.4208rem + 4.0712vw, 2.375rem);
  /* Mobile */
  /* gap: 1.5rem; */
  /* text-align: center; */
  /* padding-block: 3.0625rem 3rem; */
  /* padding-inline: 1.5rem; */
  /* border-radius: 0.5rem; */
  /* margin-inline: 1rem; */
  /* margin-block-end: 1.375rem; */
  /* tablet*/
  /* gap: 1.625rem; */
  /* text-align: center; */
  /* padding-block: 3.0625rem 3rem; */
  /* padding-inline: 4.6875rem; */
  /* border-radius: 0.5rem; */
  /* margin-inline: 2.4375rem; */
  /* margin-block-end: 2.375rem; */

  & > div {
    display: flex;
    flex-direction: column;

    gap: clamp(1.5rem, 1.3807rem + 0.5089vw, 1.625rem);
    /* Mobile */
    /* gap: 1.5rem; */
    /* tablet*/
    /* gap: 1.625rem; */
    /* desktop*/
    /* gap: 1.5625rem; */
  }
  & h2 {
    font-size: clamp(1.625rem, 1.2672rem + 1.5267vw, 2rem);
    line-height: 1.269;
    /* MObile */
    /* font-size: 1.625rem; */
    /* line-height: 1.269; */
    /* Tablet*/
    /* font-size: var(--heading-font-size-sm); */
    /* line-height: var(--heading-line-height-sm); */
    /* Desktop*/
    /* font-size: var(--heading-font-size-med); */
    /* line-height: var(--heading-line-height-med); */
  }
  & p {
    color: var(--light-cream);

    font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    /* Mobile */
    /* font-size: 1rem; */
    line-height: 1.625;
    /*Tablet */
    /* font-size: var(--body-font-size); */
    /* line-height: var(--body-line-height-med); */

    /* Desktop */
    /* max-width: 33.75rem; */
  }
  & .consult-btn {
    background-color: var(--light-red);
    align-self: center;
    padding-block: clamp(0.5rem, 0.1422rem + 1.5267vw, 0.875rem);
    /* Mobile */
    /* padding-block: 0.5rem; */
    /* Mobile */
    /* padding-block: 0.875rem; */

    &:hover {
      background-color: var(--summer-yellow);
    }
  }
}

.consult-btn {
  background-color: var(--black);
  color: var(--light-cream);

  font-size: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
  padding-inline: clamp(1.6875rem, 0.614rem + 4.5802vw, 2.8125rem)
    clamp(1.75rem, 0.7362rem + 4.3257vw, 2.8125rem);
  padding-block: clamp(0.5rem, 0.1422rem + 1.5267vw, 0.875rem);
  border-radius: clamp(1.75rem, 1.3922rem + 1.5267vw, 2.125rem);
  /* Mobile */
  /* font-size: 0.875rem; */
  line-height: 2;
  /* padding-inline: 1.6875rem 1.75rem; */
  /* padding-block: 0.5rem; */
  /* border-radius: 1.75rem; */
  /* Tablet */
  /* font-size: 1rem; */
  /* line-height: 1.75; */
  /* padding-inline: 2.8125rem; */
  /* padding-block: 0.875rem; */
  /* border-radius: 2.125rem; */

  &:hover {
    cursor: pointer;
    background-color: var(--galactic-blue);
  }
}
.consultation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: clamp(1rem, -0.3717rem + 5.8524vw, 2.4375rem)
    clamp(1rem, -0.4313rem + 6.1069vw, 2.5rem);
  padding-block-start: 1.125rem;
  /* Mobile */
  /* padding-inline: 1rem; */
  /* padding-block-start: 1.125rem; */
  /* Tablet */
  /* padding-inline: 2.4375rem 2.5rem; */
  /* padding-block-start: 1.125rem; */

  & img {
    width: clamp(3rem, 2.0458rem + 4.0712vw, 4rem);
    /* Mobile */
    /* width: 3rem; */
    /* Tablet */
    /* width: 4rem; */
  }
}

.grid-sqts {
  display: grid;

  gap: 1.5rem 1.5625rem;
  padding-inline: clamp(1rem, -0.3717rem + 5.8524vw, 2.4375rem);
  padding-block-end: clamp(6.25rem, 5.0573rem + 5.0891vw, 7.5rem);
  /* Mobile */
  /* gap: 1.5rem 1.5625rem; */
  /* padding-inline: 1rem; */
  /* padding-block-end: 6.25rem; */
  /*tablet */
  /* gap: 1.5rem 1.5625rem; */
  /* padding-inline: 2.4375rem; */
  /* padding-block-end: 7.5rem; */

  grid-auto-columns: 1fr;

  grid-template-areas:
    "graphic graphic"
    "graphic graphic"
    "ui apps"
    "ill ill"
    "photo photo"
    "motion motion";

  & > div {
    display: flex;
    flex-direction: column;
    /* Mobile */
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    & p {
      color: var(--white);
      line-height: 1.25;
    }
    & > img {
      align-self: flex-end;
    }
  }
  & .graphic-design {
    grid-area: graphic;
    background-color: var(--galactic-blue);

    /* Mobile */
    gap: 5.875rem;
  }

  & .ui {
    grid-area: ui;
    background-color: var(--summer-yellow);
    /* Mobile */
    gap: 2.5rem;
  }

  & .apps {
    grid-area: apps;
    background-color: var(--pink);
    /* Mobile */
    gap: 2.5rem;
  }
  & .illustrations {
    grid-area: ill;
    background-color: var(--light-red);
    /* Mobile */
    gap: 0.363125rem;
  }
  & .photography {
    grid-area: photo;
    background-color: var(--cyan);
    /* Mobile */
    gap: 2.5rem;
  }

  & .motion-graphics {
    grid-area: motion;
    background-color: var(--purple);
    /* Mobile */
    gap: 2.5rem;
  }
}

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-inline: clamp(1rem, -0.3418rem + 5.7252vw, 2.4063rem);
  padding-block: clamp(2rem, 0.0916rem + 8.1425vw, 4rem);
  gap: clamp(1rem, 0.344rem + 2.799vw, 1.6875rem);

  /* Mobile */
  /* padding-inline: 1rem; */
  /* padding-block: 2rem; */
  /* gap: 1rem; */
  /* Tablet */
  /* padding-inline: 2.40625rem; */
  /* padding-block: 4rem; */
  /* gap: 1.6875rem; */
  /* Desktop */
  /* padding-inline: 2.40625rem; */
  /* padding-block: 4.125rem 5rem; */
  /* gap: 1.4375rem; */

  & h1 {
    color: var(--black);

    font-size: clamp(2rem, 1.2844rem + 3.0534vw, 2.75rem);
    line-height: var(--heading-line-height-sm);
    /* Mobile */
    /* font-size: var(--heading-font-size-sm); */
    /* line-height: var(--heading-line-height-sm); */
    /* Tablet */
    /* font-size: 2.75rem; */
    /* line-height: 1.25; */
    /* Desktop*/
    /* font-size: var(--heading-font-size-lg); */
    /* line-height: var(--heading-line-height-lg); */
  }

  & p {
    color: var(--meduim-brown);
    padding-inline: clamp(1.8125rem, 0.0592rem + 7.4809vw, 3.65rem);
    font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    line-height: 1.625;

    /* Mobile */
    /* padding-inline: 1.8125rem; */
    /* font-size: 1rem; */
    /* line-height: 1.625; */
    /* Tablet */
    /* padding-inline: 3.65rem; */
    /* font-size: var(--body-font-size); */
    /* line-height: var(--body-line-height-med); */
    /* Desktop */
    /* padding-inline: 19.09375rem; */
    /* font-size: var(--body-font-size); */
    /* line-height: var(--body-line-height-med); */
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: clamp(0rem, 1.9542rem + -4.0712vw, 1rem)
    clamp(1rem, -0.4313rem + 6.1069vw, 2.5rem);
  gap: clamp(2.5rem, 0.7705rem + 7.3791vw, 4.3125rem);
  padding-block-end: clamp(6.25rem, 5.2958rem + 4.0712vw, 7.25rem);
  /* MObile */
  /* padding-inline: 1rem; */
  /* align-items: center; */
  /* gap: 2.5rem; */
  /* padding-block-end: 6.25rem; */
  /* Tablet */
  /* padding-inline: 0rem 2.5rem; */
  /* align-items: center; */
  /* gap: 4.3125rem; */
  /* padding-block-end: 7.25rem; */

  /* Desktop */
  /* padding-inline: 10.3125rem; */
  /* align-items: center; */
  /* gap: 7.8125rem; */
  /* padding-block-end: 5.5rem; */

  & > img {
    width: clamp(18.75rem, 14.9332rem + 16.285vw, 22.75rem);

    margin-inline-start: clamp(-2.75rem, 2.624rem + -11.1959vw, 0rem);
    /* Mobile */
    /* width: 18.75rem; */
    /* Tablet */
    /* width: 22.75rem; */
    /* margin-inline-start: -2.75rem; */
    /* Desktop */
    /* width: 27.8125rem; */
    /* margin-inline-start: 0rem; */
  }
  & > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

    /* Mobile */
    /* gap: 1.5rem; */
    /* Tablet */
    /* gap: 1.5rem; */
    /* Desktop */
    /* gap: 2.125rem; */

    & h2 {
      font-size: clamp(1.625rem, 1.2672rem + 1.5267vw, 2rem);
      line-height: 1.269;
      /* Mobile */
      /* font-size: 1.625rem; */
      /* line-height: 1.269; */
      /*tablet */
      /* font-size: var(--heading-font-size-sm); */
      /* line-height: var(--heading-line-height-sm); */
      /*Desktop */
      /* font-size: var(--heading-font-size-med); */
      /* line-height: var(--heading-line-height-med); */
    }
    & > p {
      color: var(--meduim-brown);
      font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
      /* Mobile */
      /* font-size: 1rem; */
      line-height: 1.625;
      /*tablet */
      /* font-size: var(--body-font-size); */
      /* line-height: var(--body-line-height-med); */
    }
    .consult-btn {
      background-color: var(--light-red);
      align-self: center;
      padding-block: clamp(0.5rem, 0.1422rem + 1.5267vw, 0.875rem);
      /* Mobile */
      /* align-self: center; */
      /* padding-block: 0.5rem; */
      /* Mobile */
      /* padding-block: 0.875rem; */

      &:hover {
        background-color: var(--summer-yellow);
      }
    }
  }
}

.slider {
  & div {
    display: inline-flex;
    display: inline flex;
    overflow-x: auto;

    gap: 0 clamp(0.9375rem, 0.0429rem + 3.8168vw, 1.875rem);
    /* Mobile */
    /* gap: 0rem 0.9375rem; */
    /* Tablet */
    /* gap: 0rem 1.875rem; */

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    & > ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    & img {
      border-radius: 0.5rem;
      height: clamp(11.25rem, 0.5153rem + 45.8015vw, 22.5rem);
      /* Mobile */
      /* border-radius: 0.5rem; */
      /* height: 11.25rem; */
      /* Tablet*/
      /* border-radius: 0.5rem; */
      /* height: 22.5rem; */
      /* Desktop*/
      /* border-radius: 0.5rem; */
      /* height: 22.5rem; */
    }
  }
}
.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  padding-block-end: clamp(5.5rem, 6.9656rem + -3.0534vw, 6.25rem);
  /* Mobile */
  /* gap: 2rem; */
  /* align-items: center; */
  /* padding-block-end: 6.25rem; */
  /* tablet */
  /* gap: 3.5rem; */
  /* padding-block-end: 5.5rem; */

  & h2 {
    font-size: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
    line-height: 1.25;
    /* Mobile */
    /* font-size: 1.5rem; */
    /* line-height: 1.25; */
    /* tablet */
    /* font-size: var(--heading-font-size-sm); */
    /* line-height: var(--heading-line-height-sm); */
  }
}

@media (min-width: 48rem) {
  .contact-section {
    gap: clamp(1.625rem, -7.9464rem + 19.9405vw, 10rem);
    padding-block: clamp(3.0625rem, 0.7768rem + 4.7619vw, 5.0625rem)
      clamp(3rem, 0.7143rem + 4.7619vw, 5rem);
    padding-inline: clamp(4.0625rem, 5.4018rem + -1.4881vw, 4.6875rem)
      clamp(4.6875rem, 3.2589rem + 2.9762vw, 5.9375rem);
    margin-inline: clamp(2.4375rem, -6.5625rem + 18.75vw, 10.3125rem);
    margin-block-end: 2.375rem;
    /* tablet*/
    /* gap: 1.625rem; */
    /* text-align: center; */
    /* padding-block: 3.0625rem 3rem; */
    /* padding-inline: 4.6875rem; */
    /* border-radius: 0.5rem; */
    /* margin-inline: 2.4375rem; */
    /* margin-block-end: 2.375rem; */
    /* desktop*/
    /* gap: 10rem; */
    /* text-align: center; */
    /* padding-block: 5.0625rem 5rem; */
    /* padding-inline: 4.0625rem 5.9375rem; */
    /* border-radius: 0.5rem; */
    /* margin-inline: 10.3125rem; */
    /* margin-block-end: 2.375rem; */

    & div {
      gap: clamp(1.5625rem, 1.6964rem + -0.1488vw, 1.625rem);
    }

    & h2 {
      font-size: clamp(2rem, 1.4286rem + 1.1905vw, 2.5rem);
      /* Tablet*/
      /* font-size: var(--heading-font-size-sm); */
      line-height: var(--heading-line-height-sm);
      /* Desktop*/
      /* font-size: var(--heading-font-size-med); */
    }
    & p {
      line-height: var(--body-line-height-med);
    }
  }

  .consult-btn {
    line-height: 1.75;
  }
  .consultation-container {
    padding-inline: clamp(2.4375rem, -6.5625rem + 18.75vw, 10.3125rem)
      clamp(2.5rem, -6.3571rem + 18.4524vw, 10.25rem);
    padding-block-start: clamp(1.125rem, -0.0179rem + 2.381vw, 2.125rem);
    /* Tablet */
    /* padding-inline: 2.4375rem 2.5rem; */
    /* padding-block-start: 1.125rem; */
    /* Desktop */
    /* padding-inline: 10.3125rem 10.25rem; */
    /* padding-block-start: 2.125rem; */
  }

  .hero-section {
    padding-inline: 2.40625rem;
    padding-block: clamp(4rem, 3.8571rem + 0.2976vw, 4.125rem)
      clamp(4rem, 2.8571rem + 2.381vw, 5rem);
    gap: clamp(1.4375rem, 1.9732rem + -0.5952vw, 1.6875rem);
    /* Tablet */
    /* padding-inline: 2.40625rem; */
    /* padding-block: 4rem; */
    /* gap: 1.6875rem; */
    /* Desktop */
    /* padding-inline: 2.40625rem; */
    /* padding-block: 4.125rem 5rem; */
    /* gap: 1.4375rem; */
    & h1 {
      font-size: clamp(2.75rem, 1.8929rem + 1.7857vw, 3.5rem);
      line-height: 1.25;
      /* Tablet */
      /* font-size: 2.75rem; */
      /* line-height: 1.25; */
      /* Desktop*/
      /* font-size: var(--heading-font-size-lg); */
      /* line-height: var(--heading-line-height-lg); */
    }

    & p {
      padding-inline: clamp(3.65rem, -14rem + 36.7708vw, 19.0938rem);
      /* Tablet */
      /* padding-inline: 3.65rem; */
      /* font-size: var(--body-font-size); */
      /* line-height: var(--body-line-height-med); */
      /* Tablet */
      /* padding-inline: 19.09375rem; */
      font-size: var(--body-font-size);
      line-height: var(--body-line-height-med);
    }
  }
  .grid-sqts {
    grid-template-areas:
      "graphic graphic ui apps"
      "graphic graphic ill ill"
      "photo photo motion motion";
    gap: 1.5rem 1.5625rem;

    padding-inline: clamp(2.4375rem, -6.5482rem + 18.7202vw, 10.3rem);
    padding-block-end: clamp(7.5rem, 6.3571rem + 2.381vw, 8.5rem);
    /*tablet */
    /* gap: 1.5rem 1.5625rem; */
    /* padding-inline: 2.4375rem; */
    /* padding-block-end: 7.5rem; */
    /*desktop */
    /* gap: 1.5rem 1.5625rem; */
    /* padding-inline: 10.3rem; */
    /* padding-block-end: 8.5rem; */
  }

  .intro-section {
    flex-direction: row;
    padding-inline: clamp(0rem, -11.7857rem + 24.5536vw, 10.3125rem)
      clamp(2.5rem, -6.4286rem + 18.6012vw, 10.3125rem);
    gap: clamp(4.3125rem, 0.3125rem + 8.3333vw, 7.8125rem);
    padding-block-end: clamp(5.5rem, 9.25rem + -4.1667vw, 7.25rem);

    /* Tablet */
    /* padding-inline: 0rem 2.5rem; */
    /* gap: 4.3125rem; */
    /* padding-block-end: 7.25rem; */

    /* Desktop */
    /* padding-inline: 10.3125rem; */
    /* align-items: center; */
    /* gap: 7.8125rem; */
    /* padding-block-end: 5.5rem; */

    & > img {
      width: clamp(22.75rem, 16.9643rem + 12.0536vw, 27.8125rem);
      margin-inline-start: clamp(-2.75rem, -5.8929rem + 6.5476vw, 0rem);
      /* Tablet */
      /* width: 22.75rem; */
      /* margin-inline-start: -2.75rem; */
      /* Desktop */
      /* width: 27.8125rem; */
      /* margin-inline-start: 0rem; */
    }
    & > div {
      text-align: left;
      gap: clamp(1.5rem, 0.7857rem + 1.4881vw, 2.125rem);
      /* Tablet */
      /* gap: 1.5rem; */
      /* Desktop */
      /* gap: 2.125rem; */

      & h2 {
        line-height: var(--heading-line-height-sm);

        font-size: clamp(2rem, 1.4286rem + 1.1905vw, 2.5rem);
        /*tablet */
        /* font-size: var(--heading-font-size-sm); */
        /* line-height: var(--heading-line-height-sm); */
        /*Desktop */
        /* font-size: var(--heading-font-size-med); */
        /* line-height: var(--heading-line-height-med); */
      }

      & > p {
        line-height: var(--body-line-height-med);
      }

      .consult-btn {
        align-self: start;
      }
    }
  }

  .work-section {
    & h2 {
      line-height: var(--heading-line-height-sm);
    }
  }
}

@media (min-width: 90rem) {
  .contact-section {
    flex-direction: row;
    /* justify-content: space-between; */

    & > div {
      text-align: start;
    }

    & h2 {
      line-height: var(--heading-line-height-med);
    }

    & p {
      max-width: 33.75rem;
    }
  }

  .hero-section {
    & h1 {
      line-height: var(--heading-line-height-lg);
    }
  }
  .grid-sqts {
    grid-template-areas:
      "graphic graphic ui apps photo photo"
      "graphic graphic ill ill motion motion";
  }

  .intro-section {
    & > div {
      & h2 {
        line-height: var(--heading-line-height-med);
      }
    }
  }
}
